head,
body {
    width: 100%;
    height: 100%;
}

nav {
    background: linear-gradient( rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.1)),
    url('img/balloon-3.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: table;
    padding-bottom: 450px;
}

.text-vertical-center {
    text-align: center;
    color: white;
}

#title {
    font-size: 60px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 250px;
}

#subtitle {
    font-size: 30px;
}

.jumbotron {
    background-color: #FED595;
    padding: 30px;
}

h1,
h2 {
    text-align: center;
}

#contact {
    background-color: grey;
}

.form-control {
    width:500px;
}
/*xs*/

@media(min-width:0px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }
    h3{
        font-size:20px;
    }
}
/*sm*/

@media(min-width:768px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 30px;
    }
}

/*lg*/

@media(min-width: 1200px) {
    h1 {
        font-size: 60px;
    }

}
