head, body {
    width: 100%;
    height: 100%;
}

nav {
    background: linear-gradient( rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.1)),
        url('img/balloon-3.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: table;
    padding-bottom: 300px;
}

.text-vertical-center {
        text-align: center;
        color: white;
}

#title {
    font-size: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

#subtitle {
    font-size: 30px;
}

.jumbotron {
    background-color: #FED595;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

#contact {
    background-color: grey;
}



